server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/orders_db
    username: admin
    password: 123456
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
