<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registered Users</title>
</head>
<body>
<h2>Registered Users</h2>

<table border="1">
    <thead>
    <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="u : ${users}">
        <td th:text="${u.name}"></td>
        <td th:text="${u.phone}"></td>
        <td th:text="${u.email}"></td>
    </tr>
    </tbody>
</table>

<p><a th:href="@{/logout}">Logout</a></p>
</body>
</html>
